<a href="https://colab.research.google.com/github/novicedata/colab_practice/blob/main/%EB%B0%B1%EC%A4%80/23.08.28.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 10926번 ??!

id = input()
print(f'{id}??!')

joonas
joonas??!

In [7]:
# 18108번 1998년생인 내가 태국에서는 2541년생?!

years = int(input()) - 543
print(years)

2541
1998

In [8]:
# 11382번 꼬마 정민

A = sum(map(int, input().split()))
print(A)

77 77 7777
7931

In [19]:
# 10171번 고양이

print("\\    /\\ \n )  ( ') \n(  /  ) \n \(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

In [25]:
# 10172번 개

print('|\_/| \n|q p|   /} \n( 0 )"""\ \n|"^"`    | \n||_/=\\\__|')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

In [28]:
# 1330번 두 수 비교하기

A, B = map(int, input().split())
if A > B:
  print('>')

elif A < B:
  print('<')

else:
  print('==')

5 5
==

In [32]:
# 9498번 시험 성적

A = int(input())

if A >= 90:
  print('A')

elif 80 <= A < 90:
  print('B')

elif 70 <= A < 80:
  print('C')

elif 60 <= A < 70:
  print('D')

else:
  print('F')

85
B

In [39]:
# 14681번 사분면 고르기

x = int(input())
y = int(input())

if x > 0 and y >0:
  print(1)

elif x < 0 and y < 0:
  print(3)

elif x > 0 and y < 0:
  print(4)

else :
  print(2)

9
-13
4

In [49]:
# 2525번 오븐 시계

H, M = map(int, input().split())
oven = int(input())

if M + oven >= 60:
  print((H + (M + oven)//60)%24, (M + oven)%60)

else:
  print(H%24, M+oven)

14 30
20
14 50

In [58]:
# 2480번 주사위 세개

x, y, z = map(int, input().split())

if x == y and y == z and x == z:
  print(10000 + x*1000)

elif x != y and y != z and x != z:
  print(max(x, y, z)*100)

else:
  if x == y:
    print(1000 + x*100)

  else:
    print(1000 + z*100)

3 6 3
600

3